[mysqld]
max_allowed_packet = 1024M
tmp_table_size = 9G
max_heap_table_size = 9G
innodb_buffer_pool_instances = 18

join_buffer_size = 100M
sort_buffer_size = 100M
read_rnd_buffer_size = 1M

# BINARY LOGGING #
sync_binlog = 0
expire-logs-days               = 14

# CACHES AND LIMITS #
thread-cache-size              = 50
open-files-limit               = 85535
table-definition-cache         = 45240
table-open-cache               = 45240

#innodb_force_recovery=1 #when not started
#skip-name-resolve

# slow queries log
slow_query_log = ON
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 4
# log_queries_not_using_indexes = ON