/*
Стили для формы заказа
*/
.order-right {
	width: 368px;
	float: right;
	margin-top: 18px;
}
.tablinks {
	display: block;
	float: left;
	width: 184px;
	padding-top: 13px;
	padding-bottom: 13px;
	text-align: center;
	font-family: "Ubuntu", sans-serif;
	font-size: 20px;
	font-weight: normal;
	line-height: 20px;
	border-bottom: 1px solid #888888;
	box-sizing: border-box;
}
.tablinks.active {
	border-top: 1px solid #888888;
	border-left: 1px solid #888888;
	border-right: 1px solid #888888;
	border-bottom: 1px solid #fff;
}
.tablinks a {
	color: #c40000;
	text-decoration: none;
	border-bottom: 1px dashed #c40000 !important;
}
.tablinks.active a {
	color: #000;
	border-bottom: none !important;
}
.tab {
	overflow: hidden;
}
.tabcontent {
	display: none;
	padding: 20px 20px;
	border-left: 1px solid #888888;
	border-right: 1px solid #888888;
	border-bottom: 1px solid #888888;
}
.tabcontent.active {
	display: block;
}
.tabcontent span {
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
	font-family: "Ubuntu", sans-serif;
}
.inpt-cont {
	display: inline-block;
	position: relative;
}
.inpt-cont.required:before {
	/*content: '*';*/
	content: '';
	font-family: "Ubuntu", sans-serif;
	color: #c40000;
	width: 8px;
	height: 8px;
	background: url(/local/templates/wellmood/img/req_bkg.png) no-repeat;
	display: inline-block;
	position: absolute;
	left: 5px;
	top: 7px;
	z-index: 20;
}
.tabcontent form {
	font-family: "Ubuntu", sans-serif;
}
.tabcontent form input[type="text"] {
	border: 1px solid #888888;
	border-radius: 0px;
	margin-bottom: 15px;
	width: 326px;
	padding: 4px 13px;
	box-sizing: border-box;
	font-family: "Ubuntu", sans-serif;
	color: #747474;
}
.tabcontent form label {
	display: inline-block;
	font-size: 11px;
	color: #797979;
	margin-bottom: 15px;
}
.tabcontent form input[type="submit"] {
	display: inline-block;
	background-color: #c40000;
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	font-family: "Ubuntu", sans-serif;
	border: none !important;
	border-radius: inherit;
	padding: 10px 30px;
	height: inherit;
}
.tabcontent form .jq-checkbox {
	width: 13px;
	height: 13px;
	border-radius: 5px;
	overflow: visible;
	border: 1px solid #878787;
	background: none;
	box-shadow: none;
	margin-left: 10px;
}
.tabcontent form .jq-checkbox.checked .jq-checkbox__div {
	transform: unset;
	-webkit-transform: unset;
	border-bottom: none;
	border-left: none;
}
.tabcontent form .jq-checkbox.focused, .tabcontent form .jq-checkbox.checked {
	border: 1px solid #878787;
	width: 13px;
	height: 13px;
}
.tabcontent form .jq-checkbox.checked .jq-checkbox__div:after {
	content: '';
	display: inline-block;
	background: url(/local/templates/wellmood/img/check_bkg.png) no-repeat;
	width: 16px;
	height: 13px;
	position: absolute;
	top: -3px;
	left: 0px;
}
.tabcontent form .jq-selectbox li:hover,  .tabcontent form .jq-selectbox li.selected{
	background-color: #888;
}
.tabcontent form .jq-selectbox__select {
	height: 30px;
	border: 1px solid #888888;
	border-radius: 0px;
	background: none;
	box-shadow: none;
	font: 14px/30px "Ubuntu", sans-serif;
	text-shadow: unset;
	color: #000;
}
.tabcontent form .jq-selectbox .jq-selectbox__dropdown {
	width: 100% !important;
}
.tabcontent form .jq-selectbox.focused {
	border: 1px solid #888888;
}
.tabcontent form .jq-selectbox.focused .jq-selectbox__select {
	border: none;
}
.tabcontent form .jq-selectbox__select .jq-selectbox__select-text {
	width: 120px;
}
.tabcontent form .jq-selectbox__select .jq-selectbox__trigger {
	border-left: 1px solid #888888;
	width: 27px;
}
.tabcontent form .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
	height: 9px;
	width: 17px;
	border: none;
	background: url(/local/templates/wellmood/img/select_bkg.png) no-repeat;
	top: 11px;
	right: 6px;
}
.tabcontent form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size: 14px;
	color: 747474;
}
.tabcontent form ::-moz-placeholder { /* Firefox 19+ */
	font-size: 14px;
	color: 747474;
}
.tabcontent form :-ms-input-placeholder { /* IE 10+ */
	font-size: 14px;
	color: 747474;
}
.tabcontent form :-moz-placeholder { /* Firefox 18- */
	font-size: 14px;
	color: 747474;
}
.city {
	font-family: "Ubuntu", sans-serif;
	font-size: 14px;
	color: #000;
	display: inline-block;
	padding: 0 19px;
	width: inherit !important;
}
label.radio {
	display: inline-block;
	width: 100%;
	margin-left: 20px;
	font-family: "Ubuntu", sans-serif !important;
	font-size: 14px !important;
	color: #000 !important;
}
.radio .jq-radio.checked .jq-radio__div {
	width: 12px;
	height: 12px;
	margin: 2px 0 0 2px;
	background: #000;
	box-shadow: none;
}
.radio .jq-radio, .radio .jq-radio.focused {
	border: 1px solid #888;
	background: none;
	box-shadow: none;
}
.delivery-cost {
	display: inline-block;
	width: 100%;
	text-align: right;
	margin-bottom: 15px;
}
.delivery-cost a {
	font-family: "Ubuntu", sans-serif;
	font-size: 14px;
	color: #0c68bd;
	border-bottom: 1px solid #0c68bd !important;
	text-decoration: none;
}
.delivery-cost a:hover {
	text-decoration: none !important;
	border-bottom: none !important;
}
.comment {
	text-align: left !important;
}
span.pay {
	font-size: 14px;
	color: #000;
}
.description {
	margin-top: 25px;
	margin-bottom: 5px;
	font-size: 9px;
	line-height: 9px;
	color: #888888;
}
.tabcontent .text-comm {
	display: none;
}
.tabcontent .text-comm textarea {
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	font-family: "Ubuntu", sans-serif;
	color: #747474;
	font-size: 14px;
}
.tabcontent form .error input[type="text"] {
	border: 2px solid red;
}
/*
Конец стелей для формы заказа
*/

.delivery_simple_calc {padding:20px; margin:0px -20px 10px -20px; background:#f7f7f7;}

.success_answer {font-size:140%; text-align:center; padding:20px 0px; font-weight:bold; text-shadow:0px -1px 0px #333;}

.delivery-cost-frm a {color:#0c68bd !important;}
.delivery-cost-frm {text-align:right !important;}

.tab.order-head .active a {font-weight:bold;}
.tablinks a {color:#333 !important; border-bottom:none !important;}

.inpt-cont {margin-bottom:0px !important;}

.jq-selectbox__dropdown {z-index:100000;}

.basket-item-property-custom-name {font-weight:bold !important;}

.dropdown-block {padding-bottom:6px !important;;}
.bx-ui-sls-clear, .dropdown-fade2white {margin-top:-2px !important;}
.dropdown-item-text span {display:inline !important;}